[Unit]
Descritpion=Safe-Rides
[Service]
ExecStart=/bin/sh -c "exec /usr/bin/java -jar /var/www/codeteam6.io/superdupersecretapi.jar --spring.profiles.active=dev"
Type=simple

[Install]
WantedBy=multi-user.target
