<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Assign driver to {{adModal.request.requestorFirstName}}'s request</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>{{adModal.request.requestorFirstName + ' ' + adModal.request.requestorLastName}}</dd>
        <dt>Riders:</dt>
        <dd>{{adModal.request.numPassengers}}</dd>
        <dt>Pickup Location:</dt>
        <dd>{{adModal.request.pickupLine1}} <br />
          {{adModal.request.pickupLine2.value || "" }}
          {{adModal.request.pickupCity + ' ' + adModal.request.pickupZip}}
        </dd>
        <dt>Dropoff Location:</dt>
        <dd>{{adModal.request.dropoffLine1}} <br />
          {{adModal.request.dropoffLine2.value || "" }}
          {{adModal.request.dropoffCity + ' ' + adModal.request.dropoffZip}}
        </dd>
        <dt>Request Time:</dt>
        <dd>{{adModal.request.date | date:'MMM dd, yyyy h:mma'}}</dd>
        <dt>Status:</dt>
        <dd>{{adModal.request.status | FriendlyStatusName}}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="selectDriver">Assign Driver</label>
        <ui-select ng-model="adModal.selectedDriver">
            <ui-select-match>{{$select.selected.driverFirstName}} {{$select.selected.driverLastName}}</ui-select-match>
          <ui-select-choices repeat="driver in adModal.drivers">
            <div ng-bind-html="'Seats: ' + driver.vehicle.seats + ' - ' + driver.driverFirstName + ' ' + driver.driverLastName"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label for="estimateArrival">Estimated Arrival</label>
        <select name="estimateArrival" id="selectDriver" class="form-control">
          <option value=""></option>
          <option value="15">15 Minutes</option>
          <option value="30">30 Minutes</option>
          <option value="45">45 Minutes</option>
          <option value="60">1 Hour</option>
        </select>
      </div>
      <div ng-show="adModal.selectedDriver">
        <h4>Selected Driver's Details</h4>
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd>{{adModal.selectedDriver.driverFirstName}} {{adModal.selectedDriver.driverLastName}}</dd>
          <dt>Seats:</dt>
          <dd>{{adModal.selectedDriver.vehicle.seats}}</dd>
          <dt>Vehicle:</dt>
          <dd>{{adModal.selectedDriver.vehicle.year + ' - ' + adModal.selectedDriver.vehicle.make + ', ' + adModal.selectedDriver.vehicle.model}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="adModal.ok()">Assign Request</button>
  <button type="button" class="btn btn-default" ng-click="adModal.cancel()">Cancel</button>
</div>
