<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Assign request to {{ctrl.driver.driverFirstName}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{ctrl.driver.driverFirstName}} {{ctrl.driver.driverLastName}} </dd>
                <dt>Seats:</dt>
                <dd>{{ctrl.driver.vehicle.seats}}</dd>
                <dt>Vehicle:</dt>
                <dd>{{ctrl.driver.vehicle.year + ' - ' + ctrl.driver.vehicle.make + ', ' + ctrl.driver.vehicle.model}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="selectRequest">Assign request</label>
                <ui-select ng-model="ctrl.selectedRequest">
                    <ui-select-match>{{$select.selected.requestorFirstName}} {{$select.selected.requestorLastName}}</ui-select-match>
                    <ui-select-choices repeat="request in ctrl.requests | filter: {status: 'UNASSIGNED'}">
                        <div ng-bind-html="'Riders: ' + request.numPassengers + ' - ' + request.requestorFirstName + ' ' + request.requestorLastName"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="ctrl.selectedRequest">
                <h4>Selected Request's Details</h4>
                <dl class="dl-horizontal">
                    <dt>Name:</dt>
                    <dd>{{ ctrl.selectedRequest.requestorFirstName + ' ' + ctrl.selectedRequest.requestorLastName}}</dd>
                    <dt>Riders:</dt>
                    <dd>{{ctrl.selectedRequest.numPassengers}}</dd>
                    <dt>Pickup Location:</dt>
                    <dd>{{ctrl.selectedRequest.pickupLine1}} <br /> {{ctrl.selectedRequest.pickupLine2.value || "" }} {{ctrl.selectedRequest.pickupCity + ' ' + ctrl.selectedRequest.pickupZip}}
                    </dd>
                    <dt>Dropoff Location:</dt>
                    <dd>{{ctrl.selectedRequest.dropoffLine1}} <br /> {{ctrl.selectedRequest.dropoffLine2.value || "" }} {{ctrl.selectedRequest.dropoffCity + ' ' + ctrl.selectedRequest.dropoffZip}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.ok()">Assign Driver</button>
    <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>
