<div class="container">

  <!-- No Ride View -->
  <div ng-show="ctrl.isRideAssigned === false && ctrl.isStartOdoEntered === false">
    <div class="alert alert-info" role="alert"><!-- alert-dismissible-->
        <strong>No Incoming Ride Requests</strong> You currently do not have any ride requests assigned to you.
    </div>
      <div class="text-center">
        <button class="btn btn-default btn-info" type="button"
                ng-click="ctrl.refresh()">
          Refresh
        </button>
      </div>
  </div><!-- end No Ride View -->

    <!-- New Ride Available -->
    <!--div class="panel panel-success" ng-hide="ctrl.isStartOdoEntered"-->
    <!-- ng-show="User=='admin' || User=='teacher'" -->
    <div class="panel panel-success" ng-show="ctrl.isRideAssigned === true && ctrl.isStartOdoEntered === false">
      <div class="panel-heading text-center">
          <h3 class="panel-title"><img src="images/car_icon_18px.png">&nbsp;&nbsp;<strong>New Ride Assigned</strong>&nbsp;&nbsp;<img src="images/car_icon_18px.png"></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">

                  <form name="odoStartRideForm" class="form-vertical">
                    <label for="odoStartRide">Enter ODO in miles to View Ride: </label>
                    <input id="odoStartRide" name="odoStartRide" type="number" class="form-control" required
                    placeholder="ex: 120405" ng-model="ctrl.startOdo"
                    ng-maxlength="6" ng-minlength="3" ng-min="100">
                    <div ng-messages="odoStartRideForm.odoStartRide.$dirty && odoStartRideForm.odoStartRide.$error">
                        <div class="input-error" ng-message="required">* required to begin newly assigned ride</div>
                    </div>
                  </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row"  style="padding-top:5px;">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <button class="btn btn-success btn-block" ng-disabled="odoStartRideForm.$invalid" ng-click="ctrl.viewRide()">View Ride</button>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div><!-- end panel body -->
  </div><!-- end New Ride Assigned Request -->


    <!-- Currrent Ride Request-->
    <!--div class="panel panel-primary" ng-show="ctrl.isStartOdoEntered"-->
    <div class="panel panel-primary" ng-show="ctrl.isRideAssigned === true && ctrl.isStartOdoEntered === true">
        <div class="panel-heading">
            <h3 class="panel-title">Current Ride Request</h3>
        </div>
        <div class="panel-body">
          <div class="row" ><!-- ng-repeat="ride in ctrl.rideRequests" -->
            <div class="col-md-4"><!-- rider info -->
              <!--h4>Rider</h4-->
              <dl class="dl-horizontal"><!-- class="dl-horizontal"-->
                <dt>Name:</dt>
                <dd>{{ctrl.assignedRide.requestorFirstName}}&nbsp;{{ctrl.assignedRide.requestorLastName}}</dd>
                <dt>One Card:</dt>
                <dd>{{ctrl.assignedRide.requestorId}}</dd>
                <dt>Passengers:</dt>
                <dd>{{ctrl.assignedRide.numPassengers}}</dd>
                <dt ng-if="ctrl.assignedRide.messageToDriver">Message To Driver:</dt>
                <dd ng-if="ctrl.assignedRide.messageToDriver">{{ctrl.assignedRide.messageToDriver}}</dd>
              </dl>
            </div>
            <div class="col-md-4"><!--pickup -->
              <!--h4>Pickup Address</h4-->
              <dl class="dl-horizontal"><!-- class="dl-horizontal"-->
                <dt>Pickup Address:</dt>
                <dd>{{ctrl.assignedRide.pickupLine1}}</dd>
                <dd ng-if="ride.pickupLine2">{{ctrl.assignedRide.pickupLine2}}</dd>
                <dd>{{ctrl.assignedRide.pickupCity}}, CA, {{ctrl.assignedRide.pickupZip}}</dd>
                <dd><a class="btn btn-info btn-block"
                  ng-href="{{ctrl.pickupAddress}}" target="_blank">Directions</a></dd>
              </dl>
            </div>
            <div class="col-md-4"><!-- dropoff -->
              <!--h4>Drop-off Address</h4-->
              <dl class="dl-horizontal" ng-hide="ctrl.pickedUpButtonPressed">
                <dt>Drop-off Address:</dt>
                <dd>Please signify you have picked up the rider to reveal Drop-off Address</dd>
                <dd><button class="btn btn-warning btn-block" ng-click="ctrl.pickedUp()">Picked Up Rider</button></dd>
              </dl>
              <dl class="dl-horizontal" ng-show="ctrl.pickedUpButtonPressed">
                <dt>Drop-off Address:</dt>
                <dd>{{ctrl.assignedRide.dropoffLine1}}</dd>
                <dd ng-if="ride.dropoffLine2">{{ctrl.assignedRide.dropoffLine2}}</dd>
                <dd>{{ctrl.assignedRide.dropoffCity}}, CA, {{ctrl.assignedRide.dropoffZip}}</dd>
                <dd><a class="btn btn-info btn-block" ng-href="{{ctrl.dropoffAddress}}" target="_blank">Directions</a></dd>
              </dl>
            </div><!-- end dropoff-->
          </div><!-- end row -->
          <div class="row margin-top-20">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                  <button class="btn btn-default btn-block btn-success">Arrived / Notify Rider</button>
                  <button class="btn btn-default btn-block btn-warning">Report Issue / Contact SafeRides</button>
                  <div ng-show="ctrl.pickedUpButtonPressed">
                  <form name="odoEndRideForm" class="form-vertical">
                    <label for="odoEndRideForm">Enter ODO in miles to End Ride: </label>
                    <input id="odoEndRide" name="odoEndRide" type="number" class="form-control" required
                    placeholder="ex: 120455" ng-model="ctrl.endOdo"
                    ng-maxlength="6" ng-minlength="3" ng-min="100">
                    <div ng-messages="odoEndRideForm.odoEndRide.$dirty && odoEndRideForm.odoEndRide.$error">
                        <div class="input-error" ng-message="required">* required to end assigned ride</div>
                    </div>
                  </form>

                  <button class="btn btn-default btn-block btn-danger"
                          ng-disabled="odoEndRideForm.$invalid" ng-click="ctrl.endRide()">
                          End Ride / Drop-Off
                  </button>
                </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div><!--panel body-->
    </div><!-- end Current Ride Request panel-->

</div><!-- end driverdashboard.html -->
