<div class="container">

    <div class="row margin-top-20 margin-bottom-20">
        <div class="col-md-12" align="center">
            <h3>
                {{ctrl.driver.firstname}}&nbsp;{{ctrl.driver.lastname}}
            </h3>
        </div>
    </div>

    <div class="panel panel-warning" ng-show="ctrl.isendOfNightOdoSubmitted === true">
        <div class="panel-heading text-center">
            <h3 class="panel-title">End Of Night</h3>
        </div>
        <div class="panel-body text-center">
            You have chosen to end the night as a ASI Safe Rides Driver volunteer.
            <br>
            <button class="btn btn-default btn-danger" type="button" ng-click="ctrl.cancelEndNight()">
                Cancel
            </button>
        </div>
    </div>

    <!-- No Ride View -->
    <div class="panel panel-warning" ng-show="ctrl.isRideAssigned === false && ctrl.isendOfNightOdoSubmitted === false">
        <div class="panel-heading text-center">
            <h3 class="panel-title">No Incoming Ride Requests</h3>
        </div>
        <div class="panel-body text-center">
            <div class="alert alert-info" role="alert"><!-- alert-dismissible-->
                You currently do not have any ride requests assigned to you.
            </div>
            <button class="btn btn-default btn-info" type="button"
                    ng-click="ctrl.refresh()">
                Refresh
            </button>
            <button class="btn btn-default btn-danger" type="button" ng-click="ctrl.endNight()"
                    ng-show="!ctrl.endNightPressed">
                End Night
            </button>
            <button class="btn btn-default btn-danger" type="button" ng-click="ctrl.cancelEndNight()"
                    ng-show="ctrl.endNightPressed">
                Cancel
            </button>
            <div ng-show="ctrl.endNightPressed">
                <form name="odoEndNightForm" class="form-vertical">
                    <label for="odoEndNightForm">Enter ODO to complete ASI Safe Rides Night: </label>
                    <input id="odoEndNight" name="odoEndNight" type="number" class="form-control" required
                           placeholder="ex: 120405" ng-model="ctrl.endOfNightOdo"
                           ng-maxlength="6" ng-minlength="3" ng-min="100">
                    <div ng-messages="odoEndNightForm.odoStartRide.$dirty && odoEndNightForm.odoStartRide.$error">
                        <div class="input-error" ng-message="required">* required to complete Safe Rides Night</div>
                    </div>
                </form>
                <button class="btn btn-default btn-success" type="button" ng-click="ctrl.submitendOfNightOdo()"
                        ng-disabled="odoEndNightForm.$invalid">
                    Submit
                </button>
            </div>
        </div>
    </div>
    <!-- end No ride view-->

    <!-- New Ride Available -->
    <div class="panel panel-success" ng-show="ctrl.assignedRide.status === 'ASSIGNED'">
        <div class="panel-heading text-center">
            <h3 class="panel-title"><img src="images/car_icon_18px.png">&nbsp;&nbsp;New Ride Assigned&nbsp;&nbsp;<img
                src="images/car_icon_18px.png"></h3>
        </div>
        <div class="panel-body">
            <div class="row margin-top-20">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                    <form name="odoStartRideForm" class="form-vertical">
                        <label for="odoStartRide">Enter ODO in miles to View Ride: </label>
                        <input id="odoStartRide" name="odoStartRide" type="number" class="form-control" required
                               placeholder="ex: 120405" ng-model="ctrl.startOdo"
                               ng-maxlength="6" ng-minlength="3" ng-min="100">
                        <div ng-messages="odoStartRideForm.odoStartRide.$dirty && odoStartRideForm.odoStartRide.$error">
                            <div class="input-error" ng-message="required">* required to begin newly assigned ride</div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row" style="padding-top:5px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-block" ng-disabled="odoStartRideForm.$invalid"
                            ng-click="ctrl.viewRide()">View Ride
                    </button>
                </div>
                <div class="col-md-3">
                </div>
            </div>

        </div><!-- end panel body -->
    </div><!-- end New Ride Assigned Request -->


    <!-- Current Ride Request Panel-->
    <div class="panel panel-primary" align="center"
         ng-show="ctrl.assignedRide.status === 'PICKINGUP' || ctrl.assignedRide.status === 'DROPPINGOFF' || ctrl.assignedRide.status === 'ATPICKUPLOCATION'">
        <div class="panel-heading">
            <h3 class="panel-title">Current Ride Request</h3>
        </div>
        <!-- passenger info-->
        <div>
            <h3>Passenger</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Name</th>
                        <td>{{ctrl.assignedRide.requestorFirstName}}&nbsp;{{ctrl.assignedRide.requestorLastName}}</td>
                    </tr>
                    <tr>
                        <th>One Card</th>
                        <td>{{ctrl.assignedRide.oneCardId}}</td>
                    </tr>
                    <tr>
                        <th>Passengers</th>
                        <td>{{ctrl.assignedRide.numPassengers}}</td>
                    </tr>
                    <tr ng-if="ctrl.assignedRide.messageToDriver">
                        <th>Message</th>
                        <td>{{ctrl.assignedRide.messageToDriver}}</td>
                    </tr>
                </table>
            </div>
        </div><!-- end passenger row-->
        <hr>
        <div>
            <h3>Pickup Address</h3>
            <a ng-href="{{ctrl.pickupAddress}}" target="_blank">
                {{ctrl.assignedRide.pickupLine1}}
                <br>{{ctrl.assignedRide.pickupCity}}, CA
            </a>
        </div>

        <div ng-show="ctrl.assignedRide.status === 'PICKINGUP' || ctrl.assignedRide.status === 'ATPICKUPLOCATION'">
            <button class="btn btn-default btn-block btn-success" ng-click="ctrl.notifyRider()">
                Arrived / Notify Rider
            </button>
        </div>
        <hr>
        <div>
            <h3>Drop-off Address</h3>
            <div ng-hide="ctrl.pickedUpButtonPressed">
                Please signify you have picked up the rider to reveal Drop-off Address
                <button class="btn btn-warning btn-block" ng-click="ctrl.pickedUp()">Picked Up Rider</button>
            </div>
            <div ng-show="ctrl.pickedUpButtonPressed">
                <a ng-href="{{ctrl.dropoffAddress}}" target="_blank">
                    {{ctrl.assignedRide.dropoffLine1}}
                    <br>{{ctrl.assignedRide.dropoffCity}}, CA
                </a>
            </div>
            <hr>
            <div ng-show="ctrl.pickedUpButtonPressed">
                <!--  margin-top-20 -->
                <form name="odoEndRideForm" class="form-vertical">
                    <label for="odoEndRideForm">Enter your odometer reading in miles to End Ride: </label>
                    <input id="odoEndRide" name="odoEndRide" type="number" class="form-control" required
                           placeholder="ex: 120455" ng-model="ctrl.endOdo"
                           ng-maxlength="6" ng-minlength="3" ng-min="100">
                    <div ng-messages="odoEndRideForm.odoEndRide.$dirty && odoEndRideForm.odoEndRide.$error">
                        <div class="input-error" ng-message="required">* required to end assigned ride</div>
                    </div>
                </form>

                <button margin-top="20" class="btn btn-default btn-block btn-danger"
                        ng-disabled="odoEndRideForm.$invalid" ng-click="ctrl.endRide()">
                    End Ride / Drop-Off
                </button>
            </div>
        </div>

    </div>
    <!-- end Current ride request panel -->

    <div class="row margin-bottom-15">
        <div class="col-sm-12 text-center">
            <a href="tel:9160000000" class="btn btn-success">
                <span class="glyphicon glyphicon-earphone"></span> Call
            </a>
        </div>
    </div>


</div><!-- end driverdashboard.html -->
