<div class="jumbotron">
  <h1>ASI Safe Rides</h1>
  <p class="lead">
    Your ticket to a safe ride home
  </p>
</div>

<div class="row marketing">
  <p>
    Safe Rides is an Associated Students Inc. program that provides free, safe, and confidential rides home to the students, staff, and faculty of Sac State.
  </p>
  <p>
    The Safe Rides Program is designed to prevent incidents related to drinking and driving that lead to accidents, DUI/DWI arrests, and death. However, Safe Rides is also a safety net. It can be used in many different situations. For instance, Safe Rides can be used to get home from a bad date, a late movie, or a broken down car.
  </p>
  <p>
    Safe Rides operates from September through May on Wednesday, Thursday, Friday, and Saturday nights from 10 p.m. to 2 a.m. All that is needed is a valid One Card and a call to (916) 278-TAXI (8294).
  </p>

</div>
