<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Active Drivers</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>CSUS ID</th>
                    <th>DL State</th>
                    <th>DL Number</th>
                    <th>Sex</th>
                    <th>Active</th>
                    <th>Actions</th>

                    <tbody>
                        <tr ng-repeat="driver in ctrl.drivers | filter: {active: true}">
                            <td>{{driver.driverFirstName}}&nbsp;{{driver.driverLastName}}</td>
                            <td>{{driver.csusId}}</td>
                            <td>{{driver.dlState}}</td>
                            <td>{{driver.dlNumber}}</td>
                            <td>{{driver.sex}}</td>
                            <td>
                                <input type="checkbox" ng-model="driver.active">
                            </td>
                            <td>
                                <a ui-sref="editdriver({driverId: driver.id})" class="btn btn-primary">Edit</a>
                                <button type="button" class="btn btn-danger" ng-click="ctrl.openConfirmModal(driver)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Inactive Drivers</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>CSUS ID</th>
                    <th>DL State</th>
                    <th>DL Number</th>
                    <th>Sex</th>
                    <th>Active</th>
                    <th>Actions</th>

                    <tbody>
                        <tr ng-repeat="driver in ctrl.drivers | filter: {active: false}">
                            <td>{{driver.driverFirstName}}&nbsp;{{driver.driverLastName}}</td>
                            <td>{{driver.csusId}}</td>
                            <td>{{driver.dlState}}</td>
                            <td>{{driver.dlNumber}}</td>
                            <td>{{driver.sex}}</td>
                            <td>
                                <input type="checkbox" ng-model="driver.active">
                            </td>
                            <td>
                                <a ui-sref="editdriver({driverId: driver.id})" class="btn btn-primary">Edit</a>
                                <button type="button" class="btn btn-danger" ng-click="ctrl.openConfirmModal(driver)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
    </div>

    <div class="row margin-top-15 margin-bottom-15">
        <div class="col-sm-12">
            <div class="pull-right">
                <a class="btn btn-primary" ui-sref="editdriver()">Add New Driver</a>
            </div>
        </div>
    </div>
</div>
