<div class="container">
    <p>Manage coordinators</p>
    <div class="container-fluid">
        <div clas="row">
            <span us-spinner ng-show="ctrl.loadingActiveCoordinators || ctrl.loadingInactiveCoordinators"></span>
            <div class="col-sm-12">
                <!-- Start of Active Coordinators -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Active Coordinators</h3>
                    </div>

                    <div style="max-height:450px; overflow: auto;">
                        <table class="table table-responsive">
                            <thead>
                                <th class="col-xs-2">Name</th>
                                <th class="col-xs-2">Phone #</th>
                                <th class="col-xs-1">OneCard ID</th>
                                <th class="col-xs-1">active</th>
                                <th class="col-xs-3">Actions</th>

                                <tbody>
                                    <tr ng-repeat="coordinator in ctrl.activeCoordinators">
                                        <td>{{coordinator.coordinatorFirstName}}&nbsp;{{coordinator.coordinatorLastName}}</td>
                                        <td>{{coordinator.phoneNumber | phone}}</td>
                                        <td>{{coordinator.csusId}}</td>
                                        <td>{{coordinator.active}}</td>
                                        <td>
                                            <a ui-sref="editcoordinator({coordinatorId: coordinator.id})" class="btn btn-primary">Edit</a>
                                            <button type="button" class="btn btn-danger" ng-click="ctrl.openConfirmDeleteModal(coordinator)" >Delete</button>
                                            <button type="button" class="btn btn-warning" ng-click="ctrl.openConfirmChangeCoordinatorActiveModal(coordinator)">Deactivate</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- End of Active Coordinators -->

                <!-- Start of Inactive Coordinators -->
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Inactive Coordinators</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-4 col-md-4">
                                        <label for="search">Filter:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                            <input type="text" id="search" class="form-control" placeholder="Search" ng-model="ctrl.searchString">
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Filter/Search -->
                            </div>

                            <div style="max-height:450px; overflow: auto;">
                                <table class="table table-responsive">
                                    <thead>
                                      <th class="col-xs-2">Name</th>
                                      <th class="col-xs-2">Phone #</th>
                                      <th class="col-xs-1">OneCard ID</th>
                                      <th class="col-xs-1">active</th>
                                        <tbody>
                                            <tr ng-repeat="coordinator in ctrl.inactiveCoordinators | filter: ctrl.searchString | limitTo: 25">
                                                <td>{{coordinator.coordinatorFirstName}}&nbsp;{{coordinator.coordinatorLastName}}</td>
                                                <td>{{coordinator.phoneNumber | phone}}</td>
                                                <td>{{coordinator.csusId}}</td>
                                                <td>
                                                    <a ui-sref="editcoordinator({coordinatorId: coordinator.id})" class="btn btn-primary">Edit</a>
                                                    <button type="button" class="btn btn-danger" ng-click="ctrl.openConfirmDeleteModal(coordinator)">Delete</button>
                                                    <button type="button" class="btn btn-warning" ng-click="ctrl.openConfirmChangeCoordinatorActiveModal(coordinator)">Activate</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Inactive Coordinators -->

                <!-- Start of Add New Coordinators -->
                <div class="row form-group margin-top-15 margin-bottom-15">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a class="btn btn-primary" ui-sref="editcoordinator()">Add New Coordinator</a>
                        </div>
                    </div>
                </div>
                <!-- End of Add New Coordinators -->

            </div>
        </div>
    </div>
</div>
