<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.ok()">&times;</button>
    <h3 class="modal-title" id="modal-title">Ride Request Details</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{ctrl.request.requestorFirstName}} {{ctrl.request.requestorLastName}}</dd>
                <dt>OneCard ID:</dt>
                <dd>{{ctrl.request.oneCardId}}</dd>
                <dt>Riders:</dt>
                <dd>{{ctrl.request.numPassengers}}</dd>
                <dt>Pickup Location:</dt>
                <dd>{{ctrl.request.pickupLine1}} <br/> {{ctrl.request.pickupLine2.value || "" }}
                    {{ctrl.request.pickupCity}}
                </dd>
                <dt>Dropoff Location:</dt>
                <dd>{{ctrl.request.dropoffLine1}} <br/> {{ctrl.request.dropoffLine2.value || "" }}
                    {{ctrl.request.dropoffCity}}
                </dd>
                <dt>Request Time:</dt>
                <dd>{{ctrl.request.requestDate | date:'MMM dd, yyyy h:mma'}}</dd>
                <dt>Status:</dt>
                <dd>{{ctrl.request.status | FriendlyStatusName}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div ng-hide="ctrl.request.status === 'UNASSIGNED'">
                <h4>Assigned Driver Information:</h4>
                <dl class="dl-horizontal">
                    <dt>Name:</dt>
                    <dd>{{ctrl.request.driverFirstName}} {{ctrl.request.driverLastName}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ctrl.ok()">Close</button>
</div>
