<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.ok()">&times;</button>
    <h3 class="modal-title" id="modal-title">Driver Details</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{ctrl.driver.driverFirstName}} {{ctrl.driver.driverLastName}}</dd>
                <dt>Phone:</dt>
                <dd>{{ctrl.driver.phoneNumber | phone }}</dd>
                <dt>Passenger Seats:</dt>
                <dd>{{ctrl.driver.vehicle.seats}}</dd>
                <dt>Status:</dt>
                <dd>{{ctrl.driver.status | FriendlyStatusName}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div ng-hide="ctrl.driver.currentRideRequest === undefined || ctrl.driver.currentRideRequest === null || ctrl.driver.currentRideRequest.status === 'COMPLETE'">
                <h4>Assigned Request Information:</h4>
                <dl class="dl-horizontal">
                    <div ng-init='currentRide = ctrl.driver.currentRideRequest'>
                        <dt>Name:</dt>
                        <dd>{{currentRide.requestorFirstName}} {{currentRide.requestorLastName}}</dd>
                        <dt>Riders:</dt>
                        <dd>{{currentRide.numPassengers}}</dd>
                        <dt>Pickup Location:</dt>
                        <dd>{{currentRide.pickupLine1}} <br/> {{currentRide.pickupLine2.value || "" }}
                            {{currentRide.pickupCity}}
                        </dd>
                        <dt>Dropoff Location:</dt>
                        <dd>{{currentRide.dropoffLine1}} <br/> {{currentRide.dropoffLine2.value || "" }}
                            {{currentRide.dropoffCity}}
                        </dd>
                        <dt>Request Time:</dt>
                        <dd>{{currentRide.requestDate | date:'MMM dd, yyyy h:mma'}}</dd>
                        <dt>Status:</dt>
                        <dd>{{currentRide.status | FriendlyStatusName}}</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ctrl.ok()">Close</button>
</div>
