<div class="container">

	<!-- Yearly stats section -->
	<div class="row">
		<h1 align="center">Yearly</h1>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading text-center">
					Total Rides
				</div>
				<div class="panel-body text-center">
					<h2>226</h2>
				</div>
			</div><!--end panel-->
		</div>
		<div class="col-md-4">
			<div class="panel panel-warning ">
				<div class="panel-heading text-center">
					Total Miles
				</div>
				<div class="panel-body text-center">
					<h2>226</h2>
				</div>
			</div><!--end panel-->
		</div>
		<div class="col-md-4">
			<div class="panel panel-danger ">
				<div class="panel-heading text-center">
					Total Drivers
				</div>
				<div class="panel-body text-center">
					<h2>226</h2>
				</div>
			</div><!--end panel-->
		</div>

	</div><!-- end yearly stats-->

	<hr>

	<!-- Monthly stats section -->
	<div class="row">
		<h1 align="center">Monthly</h1>
	</div>	<!-- end Monthly stats section -->

	<hr>

	<!-- Driver Stats section -->
	<div class="row">
		<h1 align="center">Drivers</h1>
	</div>	<!-- end Driver Stats section -->

</div><!-- end container -->
