<div class="modal-header">
    <button type="button" class="close" ng-click="rdModal.ok()">&times;</button>
  <h3 class="modal-title" id="modal-title">Ride Request Details</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>{{rdModal.request.requestorFirstName}} {{rdModal.request.requestorLastName}}</dd>
        <dt>Riders:</dt>
        <dd>{{rdModal.request.numPassengers}}</dd>
        <dt>Pickup Location:</dt>
        <dd>{{rdModal.request.pickupLine1}} <br />
          {{rdModal.request.pickupLine2.value || "" }}
          {{rdModal.request.pickupCity + ' ' + rdModal.request.pickupZip}}
        </dd>
        <dt>Dropoff Location:</dt>
        <dd>{{rdModal.request.dropoffLine1}} <br />
          {{rdModal.request.dropoffLine2.value || "" }}
          {{rdModal.request.dropoffCity + ' ' + rdModal.request.dropoffZip}}
        </dd>
        <dt>Request Time:</dt>
        <dd>{{rdModal.request.date | date:'MMM dd, yyyy h:mma'}}</dd>
        <dt>Status:</dt>
        <dd>{{rdModal.request.status | FriendlyStatusName}}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <div ng-hide="rdModal.request.status === 'UNASSIGNED'">
        <h4>Assigned Driver Information:</h4>
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd>{{rdModal.selectedDriver.driverFirstName}} {{rdModal.selectedDriver.driverLastName}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="rdModal.ok()">Close</button>
  <!-- <button type="button" class="btn btn-primary" ng-click="rdModal.ok()">Ok</button> -->
  <!-- <button type="button" class="btn btn-default" ng-click="rdModal.cancel()">Cancel</button> -->
</div>
