<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Forgot your password?</h3>
    </div>

    <div class="panel-body">
        Enter your username to reset your password.

        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control" placeholder="Enter your username">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</div>
</div>
