<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Request a Ride</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="studentid">Student ID</label>
                        <input id="studentid" name="studentid" type="text" class="form-control" placeholder="Enter your Student ID">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="destination">Destination</label>
                        <input id="destination" name="destination" type="text" class="form-control" placeholder="Enter your destination">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="riders">Riders</label>
                        <input id="riders" name="riders" type="text" class="form-control" placeholder="How many people will be riding?">
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-block">Request SafeRides</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ride Request Pending</h3>
        </div>
        <div class="panel-body">
            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <span class="glyphicon glyphicon-repeat normal-right-spinner" style="font-size:96px"></span>
                    <h4>Request Pending</h4>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default">Cancel SafeRides</button>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    Do you have any questions? Call the ASI Office and talk to a representative.
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <a href="tel:9160000000" class="btn btn-default">Call ASI Office</a>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your ride is on its way!</h3>
        </div>
        <div class="panel-body">
            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <h4>Your driver will arrive in about 5 minutes</h4>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <span class="glyphicon glyphicon-road" style="font-size:96px"></span>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default">Cancel SafeRides</button>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    Do you have any questions? Call the ASI Office and talk to a representative.
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <a href="tel:9160000000" class="btn btn-default">Call ASI Office</a>
                </div>
            </div>

        </div>
    </div>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
        <strong>Your driver is here!</strong><br/> Your driver has arrived. Look for a <em>black <b>Toyota Corolla</b></em> with the license plates: <em><b>123ABCD</b></em>
    </div>
</div>

<style>
    .glyphicon.normal-right-spinner {
        -webkit-animation: glyphicon-spin-r 2s infinite linear;
        animation: glyphicon-spin-r 2s infinite linear;
    }

    @-webkit-keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
</style>
