<span us-spinner ng-show="ctrl.loading"></span>
<div class="container" ng-hide="ctrl.loading">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12">
            <div class="panel panel-default" ng-show="!ctrl.loggedIn">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter your One Card ID</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="oneCardId">One Card ID</label>
                        <input id="oneCardId" name="oneCardId" type="text" class="form-control" required ng-model="ctrl.rideRequest.oneCardId" ui-mask="999999999" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="9 digit ID">
                        <div ng-messages="rideRequestForm.oneCardId.$dirty && rideRequestForm.oneCardId.$error">
                            <div class="input-error" ng-message="required">* required</div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.login()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="ctrl.loggedIn && !ctrl.rideRequested">
        <div class="panel-heading">
            <h3 class="panel-title">Request a Ride</h3>
        </div>
        <div class="panel-body">
            <form name="rideRequestForm">
                <!-- Row 1 -->
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Rider Info</h3>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="requestorFirstName">First Name</label>
                            <input id="requestorFirstName" name="requestorFirstName" type="text" class="form-control" required placeholder="First" ng-model="ctrl.rideRequest.requestorFirstName">
                            <div ng-messages="rideRequestForm.requestorFirstName.$dirty && rideRequestForm.requestorFirstName.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="requestorLastName">Last Name</label>
                            <input id="requestorLastName" name="requestorLastName" type="text" class="form-control" required placeholder="Last" ng-model="ctrl.rideRequest.requestorLastName">
                            <div ng-messages="rideRequestForm.requestorLastName.$dirty && rideRequestForm.requestorLastName.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <label for="requestorPhoneNumber">Phone</label>
                            <input id="requestorPhoneNumber" name="requestorPhoneNumber" type="text" class="form-control" required ng-model="ctrl.rideRequest.requestorPhoneNumber" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                            <div ng-messages="rideRequestForm.requestorPhoneNumber.$dirty && rideRequestForm.requestorPhoneNumber.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <label for="numPassengers">Number of Riders</label>
                            <select name="numPassengers" id="numPassengers" class="form-control" required ng-model="ctrl.rideRequest.numPassengers">
                                <option ng-repeat="count in ctrl.maxRidersCount" value="{{count}}">{{count}}</option>
                            </select>
                            <div ng-messages="rideRequestForm.numPassengers.$dirty && rideRequestForm.numPassengers.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end top row of form -->

                <!-- Row 2-->
                <div class="row">
                    <!-- Pickup Address column -->
                    <div class="col-md-6 col-sm-12">
                        <h3>Pickup Address</h3>
                        <div class="form-group">
                            <label for="pickupLine1">Line 1</label>
                            <input id="pickupLine1" name="pickupLine1" type="text" class="form-control" required placeholder="Pickup Line 1" ng-model="ctrl.rideRequest.pickupLine1">
                            <div ng-messages="rideRequestForm.pickupLine1.$dirty && rideRequestForm.pickupLine1.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pickupLine2">Line 2</label>
                            <input id="pickupLine2" name="pickupLine2" type="text" class="form-control" placeholder="Pickup Line 2" ng-model="ctrl.rideRequest.pickupLine2">
                        </div>
                        <div class="form-group">
                            <label for="pickupCity">City</label>
                            <input id="pickupCity" name="pickupCity" type="text" class="form-control" required placeholder="Pickup City" ng-model="ctrl.rideRequest.pickupCity">
                            <div ng-messages="rideRequestForm.pickupCity.$dirty && rideRequestForm.pickupCity.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pickupZip">Zip</label>
                            <input id="pickupZip" name="pickupZip" type="text" class="form-control" required ng-model="ctrl.rideRequest.pickupZip" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="Pickup Zip Code">
                            <div ng-messages="addriderequestForm.pickupZip.$dirty && addriderequestForm.pickupZip.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                    </div>
                    <!-- end Pickup Address -->

                    <!-- Drop Off Address column -->
                    <div class="col-md-6 col-sm-12">
                        <h3>Drop-off Address</h3>
                        <div class="form-group">
                            <label for="dropoffLine1">Line 1</label>
                            <input id="dropoffLine1" name="dropoffLine1" type="text" class="form-control" required placeholder="Drop-off Line 1" ng-model="ctrl.rideRequest.dropoffLine1">
                            <div ng-messages="rideRequestForm.dropoffLine1.$dirty && rideRequestForm.dropoffLine1.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dropoffLine2">Line 2</label>
                            <input id="dropoffLine2" name="dropoffLine2" type="text" class="form-control" placeholder="Drop-off Line 2" ng-model="ctrl.rideRequest.dropoffLine2">
                        </div>
                        <div class="form-group">
                            <label for="dropoffCity">City</label>
                            <input id="dropoffCity" name="dropoffCity" type="text" class="form-control" required placeholder="Drop-off City" ng-model="ctrl.rideRequest.dropoffCity">
                            <div ng-messages="rideRequestForm.dropoffCity.$dirty && rideRequestForm.dropoffCity.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dropoffZip">Zip</label>
                            <input id="dropoffZip" name="dropoffZip" type="text" class="form-control" required ng-model="ctrl.rideRequest.dropoffZip" ui-mask="99999" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="Drop-off Zip Code">
                            <div ng-messages="addriderequestForm.dropoffZip.$dirty && addriderequestForm.dropoffZip.$error">
                                <div class="input-error" ng-message="required">* required</div>
                            </div>
                        </div>
                    </div>
                    <!-- end dropoff Address -->
                    <!-- People Count -->
                </div>
                <!--end row 2 -->
            </form>

            <button class="btn btn-primary btn-block">Request Ride</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ride Request Pending</h3>
        </div>
        <div class="panel-body">
            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <span class="glyphicon glyphicon-repeat normal-right-spinner" style="font-size:96px"></span>
                    <h4>Request Pending</h4>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default">Cancel SafeRides</button>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    Do you have any questions? Call the ASI Office and talk to a representative.
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <a href="tel:9162788294" class="btn btn-default">Call ASI Office</a>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Your ride is on its way!</h3>
        </div>
        <div class="panel-body">
            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <h4>Your driver will arrive in about 5 minutes</h4>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <span class="glyphicon glyphicon-road" style="font-size:96px"></span>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-default">Cancel SafeRides</button>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    Do you have any questions? Call the ASI Office and talk to a representative.
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-sm-12 text-center">
                    <a href="tel:9160000000" class="btn btn-default">Call ASI Office</a>
                </div>
            </div>

        </div>
    </div>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Your driver is here!</strong><br/> Your driver has arrived. Look for a <em>black <b>Toyota Corolla</b></em> with the license plates: <em><b>123ABCD</b></em>
    </div>
</div>

<style>
    .glyphicon.normal-right-spinner {
        -webkit-animation: glyphicon-spin-r 2s infinite linear;
        animation: glyphicon-spin-r 2s infinite linear;
    }

    @-webkit-keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }

    @keyframes glyphicon-spin-r {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
</style>
