<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="safeRidesWebApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header" ng-controller="HeaderCtrl as header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/" ng-click="header.setActive(header.routes[0])">ASI Safe Rides</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav ng-cloak">
                    <li ng-repeat="route in header.routes" ng-class="{active: header.activeRoute === route}">
                        <a ng-href="{{route.path}}" ng-click="header.setActive(route)">{{route.text}}</a>
                    </li>
                </ul>

                <button ng-show="isAuthenticated && redirect !== 'riderdashboard'" ng-click="globalLogout()"
                        class="btn btn-danger navbar-btn navbar-right">Logout
                </button>
            </div>

        </div>
    </div>
</div>

<div ui-view=""></div>

<div class="footer">
    <div class="container" ng-show="!isAuthenticated">
        <a href="/#!/coordinatordashboard">Coordinator Login</a> |
        <a href="/#!/driverdashboard">Driver Login</a>
    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
<script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/resetpasswordrequest.js"></script>
<script src="scripts/controllers/resetpassword.js"></script>
<script src="scripts/controllers/coordinatordashboard.js"></script>
<script src="scripts/controllers/coordinatorreport.js"></script>
<script src="scripts/controllers/editdriver.js"></script>
<script src="scripts/controllers/driverdashboard.js"></script>
<script src="scripts/controllers/reportsdashboard.js"></script>
<script src="scripts/controllers/riderdashboard.js"></script>
<script src="scripts/controllers/header.js"></script>
<script src="scripts/controllers/managedrivers.js"></script>
<script src="scripts/services/driverservice.js"></script>
<script src="scripts/controllers/requestdetailmodal.js"></script>
<script src="scripts/controllers/assigndrivermodal.js"></script>
<script src="scripts/controllers/assignrequestmodal.js"></script>
<script src="scripts/controllers/confirmcancelrequestmodal.js"></script>
<script src="scripts/controllers/addriderequestmodal.js"></script>
<script src="scripts/controllers/driverdetailsmodal.js"></script>
<script src="scripts/services/driver.js"></script>
<script src="scripts/services/vehicle.js"></script>
<script src="scripts/services/riderequestservice.js"></script>
<script src="scripts/services/riderequest.js"></script>
<script src="scripts/services/assignrideservice.js"></script>
<script src="scripts/filters/phone.js"></script>
<script src="scripts/controllers/confirmdeletedrivermodal.js"></script>
<script src="scripts/controllers/confirmchangedriveractivemodal.js"></script>
<script src="scripts/services/apiinterceptor.js"></script>
<script src="scripts/services/user-service.js"></script>
<script src="scripts/services/user-registration-service.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/auth-token-service.js"></script>
<script src="scripts/services/geolocation-service.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/services/settings.js"></script>
<script src="scripts/services/settings-service.js"></script>
<script src="scripts/services/reportmonthlyservice.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- endbuild -->
</body>

</html>
