<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="safeRidesWebApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header" ng-controller="HeaderMenuCtrl as header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/" ng-click="header.setActive(header.routes[0])">ASI Safe Rides</a>
            </div>
            <ul class="nav navbar-nav ng-cloak">
                <li ng-repeat="route in header.routes">
                    <a href="{{route.path}}" bs-active-link>{{route.text}}</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <button ng-show="isAuthenticated && redirect !== 'riderdashboard'" ng-click="globalLogout()"
                        class="btn btn-danger navbar-btn navbar-right">Logout
                </button>
            </div>
        </div>
    </div>
</div>

<div ui-view=""></div>

<div class="footer">
    <div class="container">
    </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
<script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/main-coordinator.js"></script>
<script src="scripts/controllers/edit-driver.js"></script>
<script src="scripts/controllers/main-driver.js"></script>
<script src="scripts/controllers/reports.js"></script>
<script src="scripts/controllers/main-request.js"></script>
<script src="scripts/controllers/manage-drivers.js"></script>
<script src="scripts/services/driver-service.js"></script>
<script src="scripts/controllers/modal-request-details.js"></script>
<script src="scripts/controllers/modal-assign-driver.js"></script>
<script src="scripts/controllers/modal-assign-request.js"></script>
<script src="scripts/controllers/modal-confirm-cancel-request.js"></script>
<script src="scripts/controllers/modal-add-ride-request.js"></script>
<script src="scripts/controllers/modal-driver-details.js"></script>
<script src="scripts/controllers/manage-coordinators.js"></script>
<script src="scripts/services/driver.js"></script>
<script src="scripts/services/vehicle.js"></script>
<script src="scripts/services/ride-request-service.js"></script>
<script src="scripts/services/ride-request.js"></script>
<script src="scripts/services/assign-ride-service.js"></script>
<script src="scripts/filters/phone.js"></script>
<script src="scripts/controllers/modal-confirm-delete-driver.js"></script>
<script src="scripts/controllers/modal-confirm-change-driver-active.js"></script>
<script src="scripts/services/api-interceptor.js"></script>
<script src="scripts/services/auth-service.js"></script>
<script src="scripts/services/user-registration-service.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/auth-token-service.js"></script>
<script src="scripts/services/geolocation-service.js"></script>
<script src="scripts/services/user-service.js"></script>
<script src="scripts/services/settings-service.js"></script>
<script src="scripts/controllers/modal-confirm-change-coordinator-active.js"></script>
<script src="scripts/controllers/modal-confirm-delete-coordinator.js"></script>
<script src="scripts/controllers/edit-coordinator.js"></script>
<script src="scripts/directives/compare-to.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/services/settings.js"></script>
<script src="scripts/services/report-monthly-service.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="scripts/services/cas-service.js"></script>
<script src="scripts/controllers/header-menu.js"></script>
<script src="scripts/directives/bs-active-link.js"></script>
<!-- endbuild -->

</body>

</html>
